.content .logo {
    display: block;
    width: 50%;
    margin: 30px auto;
}

.content .about {
    text-indent: 1.5rem;
    margin: 0 auto;
    width: 80%;
    line-height: 150%;
    font-size: 1rem;
    color: #444444;
}

.content .contact-us {
    line-height: 200%;
    margin: 3rem auto 40px;
    width: 70%;
}

.content .contact-us a {
    color: #0e4e9e;
    text-decoration: underline;
}

.content .contact-us a:active {
    color: green;
}

.content .contact-us h5 {
    font-size: 1.1rem;
    color: #444444;
}
