/*2015-10-21 09:39*/
body {
    background-color: #F2F2F2;
}

label {
    cursor: pointer;
}

input[type=file] {
    display: none;
}

/*==FRAME*/
.header {
    z-index: 100;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    position: fixed;
    top: 0;
    height: 40px;
    line-height: 40px;
    max-width: 1000px;
    width: 100%;
    color: #fff;
    background-color: #3FA9F5;
}

.header span {
    display: block;
    position: relative;
    width: 100%;
    font-size: 1.3rem;
    text-align: center;
}

.container-plus10 {
    padding: 50px 0 60px 0;
}

.container-plus20 {
    padding: 60px 0 60px 0;
}

/*==POSITION*/
.mt1 {
    margin-top: 10px;
}

.mb1 {
    margin-bottom: 10px;
}

.mt2 {
    margin-top: 20px;
}

.mb2 {
    margin-bottom: 20px;
}

.mt4 {
    margin-top: 10px;
}

.mb4 {
    margin-bottom: 40px;
}

.mt6 {
    margin-top: 60px;
}

.mb6 {
    margin-bottom: 60px;
}

.ml2 {
    margin-left: 20px;
}

.mr2 {
    margin-right: 20px;
}

.ml4 {
    margin-left: 40px;
}

.mr4 {
    margin-right: 40px;
}

.ml6 {
    margin-left: 60px;
}

.mr6 {
    margin-right: 60px;
}

.left {
    float: left;
}

.right {
    float: right;
}

/*==HR*/

/*--type*/
hr.line {
    border-top: 1px solid #bbb;
}

hr.dot {
    border-top: 1px dotted #bbb;
}

hr.dash {
    border-top: 1px dashed #bbb;
}

.bold {
    font-weight: bold;
}

/*--color*/
hr.gray {
}

/*==COLOR*/
.red {
    color: #DE4B44;
}

.green {
    color: #4ABA67
}

.darkgreen {
    color: #1BA839;
}

.orange {
    color: #FE941E;
}

.blue {
    color: #3FA9F5;
}

.gray {
    color: #666;
}

.lightgray {
    color: #aaa;
}

.fill-red {
    background-color: #DE4B44;
    color: #fff;
}

.fill-green {
    background-color: #4ABA67;
    color: #fff;
}

.fill-darkgreen {
    background-color: #1BA839;
    color: #fff;
}

.fill-orange {
    background-color: #FE941E;
    color: #fff;
}

.fill-blue {
    background-color: #3FA9F5;
    color: #fff;
}

.fill-gray {
    background-color: #666;
    color: #fff;
}

.hollow-red {
    border: 1px solid #DE4B44;
    background-color: #fff;
    color: #DE4B44
}

.hollow-green {
    border: 1px solid #4ABA67;
    background-color: #fff;
    color: #4ABA67
}

.hollow-darkgreen {
    border: 1px solid #1BA839;
    background-color: #fff;
    color: #1BA839
}

.hollow-orange {
    border: 1px solid #FE941E;
    background-color: #fff;
    color: #FE941E
}

.hollow-blue {
    border: 1px solid #3FA9F5;
    background-color: #fff;
    color: #3FA9F5
}

.hollow-gray {
    border: 1px solid #666;
    background-color: #fff;
    color: #666
}

/*==OTHERS*/
.t-sh {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .2)
}

.b-sh {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .1)
}

.radius {
    border-radius: 5px;
}

.fw-b {
    font-weight: bold;
}

/*==BACKGROUDCOLOR*/
.bg-white {
    background-color: #fff;
}

.bg-f2 {
    background-color: #f2f2f2;
}

/*====INPUT*/

/*--input-group-icon*/
.input-group-icon {
    border-radius: 5px;
    border: 1px solid #E6E6E6;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    margin-top: 20px;
}

.input-group-icon::after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.input-group-icon input {
    border-radius: 5px;
    display: block;
    height: 35px;
    float: left;
    width: calc(100% - 50px);
    font-size: 1.3rem;
    padding: 5px;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}

.input-group-icon input:focus {
    -webkit-box-shadow: 0 0 5px rgba(63, 169, 245, .8);
    box-shadow: 0 0 5px rgba(63, 169, 245, .8);
    transition: all 0.5s ease-in-out;
}

.input-group-icon img {
    box-sizing: border-box;
    padding: 5px;
    width: 35px;
    float: left;
    display: block;
}

/*--input-group-word*/
.input-group-words {
    box-sizing: border-box;
    font-size: 1.1rem;
    margin-top: .5rem;
}

.input-group-words::after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.input-group-words span {
    line-height: 30px;
    height: 30px;
    width: 30%;
    float: left;
    display: block;
    box-sizing: border-box;
}

.input-group-words input {
    background-color: #fff;
    font-size: 1.1rem;
    width: 70%;
    line-height: 30px;
    padding: 0 0.2rem;
    float: left;
    display: block;
    box-sizing: border-box;
}

.input-group-words input:focus {
    box-shadow: 0 0 3px #3FA9F5;
}

/*--input-group-regist*/
.input-group-regist {
    margin-top: 15px;
}

.input-group-regist > a {
    color: #444;
    border: 1px solid #ccc;
    text-align: center;
    line-height: 2rem;
    height: 2rem;
    border-radius: 5px;
    padding: 2px 5px;
    display: block;
    float: right;
    font-size: 1rem;
    width: 70%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.input-group-regist::after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.input-group-regist span {
    float: left;
    display: block;
    font-size: 1rem;
    line-height: 2rem;
    height: 2rem;
    width: 30%;
}

.input-group-regist input {
    line-height: 2rem;
    height: 2rem;
    border-radius: 5px;
    padding: 2px 5px;
    display: block;
    float: right;
    font-size: 1rem;
    width: 70%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.input-group-regist input:focus {
    transition: all .5s;
    -webkit-box-shadow: 0 0 3px #3FA9F5;
    box-shadow: 0 0 3px #3FA9F5;
}

.input-group-regist input:disabled {
    background-color: transparent;
}

/*--input-group-datetime*/
.input-group-datetime {
    margin: 30px auto;
    width: 80%;
}

.input-group-datetime::after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.input-group-datetime input {
    background-color: transparent;
    border-bottom: 1px solid #bbb;
    font-size: 1.1rem;
    text-align: center;
}

.input-group-datetime input:nth-child(1) {
    float: left;
    width: 50%;
}

.input-group-datetime input:nth-child(2) {
    float: right;
    width: 40%;
}

/*==SELECT*/
.select-group {
    font-size: 1rem;
}

.select-group::after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.select-group span {
    display: block;
    line-height: 2rem;
    height: 2rem;
    width: 30%;
    float: left;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.select-group select {
    background-color: #fff;
    font-size: 1rem;
    line-height: 2rem;
    padding: 0 0.2rem;
    width: 70%;
    height: 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
}

.select-group select:disabled {
    background-color: transparent;
}

.select-group select:active {
    -webkit-box-shadow: 0 0 3px #3FA9F5;
    box-shadow: 0 0 3px #3FA9F5;
}

/*==BUTTON*/
button, .button {
    display: block;
    font-size: 1.2rem;
    padding: 6px 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.button:active, button:active {
    transform: translateY(2px);
    opacity: 0.7;
}

.button-group-x2 {
    width: 100%;
}

.button-group-x2::after {
    content: '';
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.button-group-x2 button {
    padding: 5px 0;
    font-weight: normal;
}

.button-group-x2 .button {
    padding: 5px 0;
    font-weight: normal;
}

.button-group-x2 button:nth-child(1) {
    float: left;
    width: 45%;
}

.button-group-x2 button:nth-child(2) {
    float: right;
    width: 45%;
}

.button-group-x2 .button:nth-child(1) {
    float: left;
    width: 45%;
}

.button-group-x2 .button:nth-child(2) {
    float: right;
    width: 45%;
}

.button-big {
    display: block;
    font-size: 1.4rem;
    text-align: center;
    line-height: 250%;
    border-radius: 3px;
    margin: 10px 0;
}

.button-big:active {
    transform: translateY(2px);
}

.button-small {
    display: block;
    font-size: 1.1rem;
    line-height: 200%;
    margin: 10px 0;
}

.button-small:active {
    transform: translateY(1px);
}

/*==WIDTH*/
.w10 {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.w95 {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.w9 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.w85 {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.w8 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/*==CHECKBOX*/
.checkbox-group-x2 {
    margin-top: 20px;
}

.checkbox-group-x2 label:nth-child(1) {
    float: left;
}

.checkbox-group-x2 label:nth-child(2) {
    float: right;
}

input[type=checkbox], input[type=radio] {
    display: none;
}

[id^="type-checkbox-"] + label {
    cursor: pointer;
    display: inline-block;
    background-color: #fff;
    padding: 5px 0;
    text-align: center;
    width: 45%;
    border: 1px solid #1BA838;
    color: #1BA838;
}

[id^="type-checkbox-"]:checked + label {
    background-color: #1BA838;
    color: #fff;
}

/*REGIST gape*/
.verify input {
    width: 35%;
    margin-right: 5%;
}

.verify a {
    text-align: center;
    float: right;
    width: 30%;
    height: 2rem;
    line-height: 2rem;
    padding: 0 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.verify a:active {
    background-color: #fff;
    color: orange;
    border: 1px solid orange;
}

/*DISPLAY*/
.d-n {
    display: none;
}

.d-b {
    display: block;
}

.d-ib {
    display: inline-block;
}

/*text align*/
.tac {
    text-align: center;
}

.tar {
    text-align: right;
}