.divider {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #cccccc;
    font-size: 1rem;
    text-shadow: 0 0 2px #fff;
}

.ads {
    margin: 20px 0;
}

.ads > a {
    margin-top: 10px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #19a15f;
    border-radius: 10px;
    display: block;
    float: left;
}

.ads > a > input {
    display: none;
}

.ads > a > label {
    display: block;
    overflow: hidden;
    min-width: 100%;
}

.ads > a > label > img {
    border-radius: 10px;
    width: 100%;
    display: block;
}

/*On Screen*/
@media screen and (min-width: 900px) {
    .ads > a {
        width: 23.5%;
        margin-left: 2%;
    }

    .ads > a:nth-child(4n+1) {
        margin-left: 0;
    }

    .ads > a > input {
        display: none;
    }
}

/*On Phone*/
@media screen and (max-width: 900px) {
    .ads > a {
        width: 32%;
        margin-left: 2%;
    }

    .ads > a:nth-child(3n+1) {
        margin-left: 0;
    }

    .ads > a > input {
        display: none;
    }
}

.recent {
    padding: 1rem 0 2rem;
    background-color: #f2f2f2;
}

/*2016-04-28 08:27*/

.switcher {
    border-top: 1px solid #4ABA67;
}

.area-head {
    line-height: 250%;
    font-size: 1.1rem;
}

.company-info {
    line-height: 130%;
    font-size: .9rem;
}