<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liangxunwang.unimanager.dao.CxrzDao">
    <resultMap id="cxrz" type="com.liangxunwang.unimanager.model.HappyHandCxrz">
        <id column="cxrzid" property="cxrzid"/>
        <result column="empid" property="empid"/>
        <result column="starttime" property="starttime"/>
        <result column="is_use" property="is_use"/>
    </resultMap>

    <select id="lists" resultMap="cxrz">
        SELECT * from happy_hand_cxrz WHERE empid=#{empid}
    </select>

    <insert id="save" parameterType="com.liangxunwang.unimanager.model.HappyHandCxrz">
        INSERT INTO happy_hand_cxrz(cxrzid, empid, starttime, is_use)
        VALUES (#{cxrzid}, #{empid}, #{starttime}, #{is_use})
    </insert>

    <update id="update" parameterType="com.liangxunwang.unimanager.model.HappyHandCxrz">
        UPDATE happy_hand_cxrz SET is_use=#{is_use}  WHERE cxrzid=#{cxrzid}
    </update>

</mapper>