<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liangxunwang.unimanager.dao.EmpDao">
    <resultMap id="emp" type="com.liangxunwang.unimanager.model.Emp">
        <id column="empid" property="empid"/>
        <result column="mobile" property="mobile"/>
        <result column="password" property="password"/>
        <result column="nickname" property="nickname"/>
        <result column="cover" property="cover"/>
        <result column="sign" property="sign"/>
        <result column="age" property="age"/>
        <result column="sex" property="sex"/>
        <result column="heightl" property="heightl"/>
        <result column="education" property="education"/>
        <result column="provinceid" property="provinceid"/>
        <result column="cityid" property="cityid"/>
        <result column="areaid" property="areaid"/>
        <result column="marriage" property="marriage"/>
        <result column="company" property="company"/>
        <result column="likeids" property="likeids"/>
        <result column="state" property="state"/>
        <result column="cardpic" property="cardpic"/>
        <result column="rzstate1" property="rzstate1"/>
        <result column="rzstate2" property="rzstate2"/>
        <result column="rzstate3" property="rzstate3"/>
        <result column="is_use" property="is_use"/>
        <result column="dateline" property="dateline"/>
        <result column="userId" property="userId"/>
        <result column="channelId" property="channelId"/>
        <result column="deviceType" property="deviceType"/>
        <result column="is_push" property="is_push"/>

        <result column="chooseid" property="chooseid"/>
        <result column="agestart" property="agestart"/>
        <result column="ageend" property="ageend"/>
        <result column="heightlstart" property="heightlstart"/>
        <result column="heightlend" property="heightlend"/>
        <result column="educationm" property="educationm"/>
        <result column="marriagem" property="marriagem"/>

        <result column="pname" property="pname"/>
        <result column="cityName" property="cityName"/>
    </resultMap>

    <insert id="save" parameterType="com.liangxunwang.unimanager.model.Emp">
         INSERT INTO emp(empid, mobile, sex, password, is_use, dateline)
         VALUES (#{empid}, #{mobile}, #{sex}, #{password}, #{is_use}, #{dateline})
    </insert>

    <update id="updatePass" parameterType="String">
        UPDATE emp SET password=#{password} WHERE empid=#{empid}
    </update>

    <select id="lists" resultMap="emp">
        SELECT sn.*,
        lcity.cityName as cityName,
        lpro.pname as pname,
        lchoose.chooseid as chooseid,
        lchoose.agestart as agestart,
        lchoose.ageend as ageend,
        lchoose.heightlstart as heightlstart,
        lchoose.heightlend as heightlend,
        lchoose.educationm as educationm,
        lchoose.marriagem as marriagem
        from emp sn
        LEFT JOIN province lpro ON lpro.provinceid = sn.provinceid
        LEFT JOIN city lcity ON lcity.cityid = sn.cityid
        LEFT JOIN happy_hand_choose lchoose ON lchoose.empid = sn.empid
        WHERE 1=1
        <if test="is_use != null and is_use != ''">
            AND sn.is_use = #{is_use}
        </if>
        <if test="sex != null and sex != ''">
            AND sn.sex = #{sex}
        </if>
        <if test="education != null and education != ''">
            AND sn.education = #{education}
        </if>
        <if test="marriage != null and marriage != ''">
            AND sn.marriage = #{marriage}
        </if>
        <if test="state != null and state != ''">
            AND sn.state = #{state}
        </if>
        <if test="rzstate1 != null and rzstate1 != ''">
            AND sn.rzstate1 = #{rzstate1}
        </if>
        <if test="rzstate2 != null and rzstate2 != ''">
            AND sn.rzstate2 = #{rzstate2}
        </if>
        <if test="rzstate3 != null and rzstate3 != ''">
            AND sn.rzstate3 = #{rzstate3}
        </if>
        limit #{index},#{size}
    </select>

    <select id="count" resultType="Long">
        SELECT count(sn.empid) FROM emp sn
        WHERE 1=1
        <if test="is_use != null and is_use != ''">
            AND sn.is_use = #{is_use}
        </if>
        <if test="sex != null and sex != ''">
            AND sn.sex = #{sex}
        </if>
        <if test="education != null and education != ''">
            AND sn.education = #{education}
        </if>
        <if test="marriage != null and marriage != ''">
            AND sn.marriage = #{marriage}
        </if>
        <if test="state != null and state != ''">
            AND sn.state = #{state}
        </if>
        <if test="rzstate1 != null and rzstate1 != ''">
            AND sn.rzstate1 = #{rzstate1}
        </if>
        <if test="rzstate2 != null and rzstate2 != ''">
            AND sn.rzstate2 = #{rzstate2}
        </if>
        <if test="rzstate3 != null and rzstate3 != ''">
            AND sn.rzstate3 = #{rzstate3}
        </if>
    </select>

    <select id="findById" resultMap="emp" parameterType="String">
       SELECT sn.*,
        lcity.cityName as cityName,
        lpro.pname as pname,
        lchoose.chooseid as chooseid,
        lchoose.agestart as agestart,
        lchoose.ageend as ageend,
        lchoose.heightlstart as heightlstart,
        lchoose.heightlend as heightlend,
        lchoose.educationm as educationm,
        lchoose.marriagem as marriagem
        from emp sn
        LEFT JOIN province lpro ON lpro.provinceid = sn.provinceid
        LEFT JOIN city lcity ON lcity.cityid = sn.cityid
        LEFT JOIN happy_hand_choose lchoose ON lchoose.empid = sn.empid
        WHERE sn.empid=#{empid}
    </select>

    <select id="findByMobile" resultMap="emp" parameterType="String">
      SELECT sn.*,
        lcity.cityName as cityName,
        lpro.pname as pname,
        lchoose.chooseid as chooseid,
        lchoose.agestart as agestart,
        lchoose.ageend as ageend,
        lchoose.heightlstart as heightlstart,
        lchoose.heightlend as heightlend,
        lchoose.educationm as educationm,
        lchoose.marriagem as marriagem
        from emp sn
        LEFT JOIN province lpro ON lpro.provinceid = sn.provinceid
        LEFT JOIN city lcity ON lcity.cityid = sn.cityid
        LEFT JOIN happy_hand_choose lchoose ON lchoose.empid = sn.empid
        WHERE sn.mobile=#{mobile}
    </select>

    <update id="updateStatus" parameterType="String">
        UPDATE emp SET is_use=#{is_use} WHERE empid=#{empid}
    </update>

    <update id="updateCover" parameterType="String">
        UPDATE emp SET cover=#{cover} WHERE empid=#{empid}
    </update>

    <update id="updateProfile" parameterType="com.liangxunwang.unimanager.model.Emp">
        UPDATE emp SET
        sign=#{sign},
        nickname=#{nickname},
        age=#{age},
        heightl=#{heightl},
        education=#{education},
        provinceid=#{provinceid},
        cityid=#{cityid},
        marriage=#{marriage},
        company=#{company},
        likeids=#{likeids},
        state=#{state},
        is_use = '1'
        WHERE empid=#{empid}
    </update>

    <update id="updateManage" parameterType="com.liangxunwang.unimanager.model.Emp">
        UPDATE emp SET
        sign=#{sign},
        nickname=#{nickname},
        age=#{age},
        heightl=#{heightl},
        cover=#{cover},
        cardpic=#{cardpic},
        education=#{education},
        provinceid=#{provinceid},
        cityid=#{cityid},
        marriage=#{marriage},
        company=#{company},
        sex=#{sex},
        is_use = #{is_use}
        WHERE empid=#{empid}
    </update>

    <update id="updateMobile" parameterType="String">
        UPDATE emp SET mobile=#{mobile} WHERE empid=#{empid}
    </update>

    <update id="updatePassByMobile" parameterType="String">
        UPDATE emp SET password=#{password} WHERE mobile=#{mobile}
    </update>

    <update id="updateCard" parameterType="String">
        UPDATE emp SET cardpic=#{cardpic},rzstate1='1' WHERE empid=#{empid}
    </update>

    <update id="updateRzstate2" parameterType="String">
        UPDATE emp SET rzstate2=#{rzstate2} WHERE empid=#{empid}
    </update>
    <update id="updateRzstate3" parameterType="String">
        UPDATE emp SET rzstate3=#{rzstate3} WHERE empid=#{empid}
    </update>


    <insert id="saveList" parameterType="java.util.List">
        INSERT INTO emp(empid, mobile, password, nickname,cover,sign,age,sex,heightl,education,provinceid,cityid,marriage,company,likeids,state,cardpic,rzstate1,rzstate2,rzstate3,is_use,dateline)
        VALUES
        <foreach  collection="list" item="item" index="index" separator=",">
            (#{item.empid},
            #{item.mobile},
            #{item.password},
            #{item.nickname},
            #{item.cover,jdbcType=VARCHAR},
            #{item.sign,jdbcType=VARCHAR},
            #{item.age},
            #{item.sex},
            #{item.heightl},
            #{item.education},
            #{item.provinceid},
            #{item.cityid},
            #{item.marriage},
            #{item.company},
            #{item.likeids},
            #{item.state},
            #{item.cardpic,jdbcType=VARCHAR},
            #{item.rzstate1},
            #{item.rzstate2},
            #{item.rzstate3},
            #{item.is_use},
            #{item.dateline})
        </foreach>
    </insert>



    <select id="listsChoose" resultMap="emp">
        SELECT sn.*,
        lcity.cityName as cityName,
        lpro.pname as pname,
        lchoose.chooseid as chooseid,
        lchoose.agestart as agestart,
        lchoose.ageend as ageend,
        lchoose.heightlstart as heightlstart,
        lchoose.heightlend as heightlend,
        lchoose.educationm as educationm,
        lchoose.marriagem as marriagem
        from emp sn
        LEFT JOIN province lpro ON lpro.provinceid = sn.provinceid
        LEFT JOIN city lcity ON lcity.cityid = sn.cityid
        LEFT JOIN happy_hand_choose lchoose ON lchoose.empid = sn.empid
        WHERE 1=1 AND sn.rzstate1 ='1' AND  sn.is_use = '1'
        AND sn.age &gt; #{agestart} AND sn.age &lt; #{ageend}
        AND sn.heightl &gt; #{heightlstart} AND sn.heightl &lt; #{heightlend}

        <if test="educationm == '5'">
            AND sn.education = '5'
        </if>
        <if test="educationm == '4'">
            AND (sn.education = '4' OR sn.education = '5')
        </if>
        <if test="educationm == '3'">
            AND (sn.education = '3' OR sn.education = '4' OR sn.education = '5')
        </if>
        <if test="educationm == '2'">
            AND (sn.education = '2' OR sn.education = '3' OR sn.education = '4' OR sn.education = '5')
        </if>

        <if test="marriagem != null and marriagem != ''">
            AND sn.marriage = #{marriagem}
        </if>
        <if test="state != null and state != ''">
            AND sn.state = #{state}
        </if>
        <if test="sex != null and sex != ''">
            AND sn.sex = #{sex}
        </if>
        limit #{index},#{size}
    </select>

    <update id="updateState" parameterType="String">
        UPDATE emp SET state=#{state} WHERE empid=#{empid}
    </update>

    <update id="updatePushId" parameterType="String">
        UPDATE emp set userId=#{userId}, channelId=#{channelId}, deviceType=#{deviceType} WHERE empid=#{empid}
    </update>


    <select id="listsSearch" resultMap="emp">
        SELECT sn.*,
        lcity.cityName as cityName,
        lpro.pname as pname
        from emp sn
        LEFT JOIN province lpro ON lpro.provinceid = sn.provinceid
        LEFT JOIN city lcity ON lcity.cityid = sn.cityid
        WHERE 1=1 AND sn.rzstate1 ='1' AND  sn.is_use = '1'

        <if test="agestart != null and agestart != ''">
            AND sn.age &gt; #{agestart}
        </if>

        <if test="ageend != null and ageend != ''">
            AND sn.age &lt; #{ageend}
        </if>

        <if test="heightlstart != null and heightlstart != ''">
            AND sn.heightl &gt; #{heightlstart}
        </if>

        <if test="heightlend != null and heightlend != ''">
            AND sn.heightl &lt; #{heightlend}
        </if>

        <if test="educationm == '5'">
            AND sn.education = '5'
        </if>
        <if test="educationm == '4'">
            AND (sn.education = '4' OR sn.education = '5')
        </if>
        <if test="educationm == '3'">
            AND (sn.education = '3' OR sn.education = '4' OR sn.education = '5')
        </if>
        <if test="educationm == '2'">
            AND (sn.education = '2' OR sn.education = '3' OR sn.education = '4' OR sn.education = '5')
        </if>

        <if test="marriagem != null and marriagem != ''">
            AND sn.marriage = #{marriagem}
        </if>
        <if test="state != null and state != ''">
            AND sn.state = #{state}
        </if>
        <if test="sex != null and sex != ''">
            AND sn.sex = #{sex}
        </if>
        <if test="likeids != null and likeids != ''">
            AND sn.likeids like CONCAT('%',#{likeids},'%')
        </if>
        <if test="keywords != null and keywords != ''">
            AND sn.mobile like CONCAT('%',#{keywords},'%')
        </if>
        limit #{index},#{size}
    </select>


    <update id="updateIsPush" parameterType="String">
        UPDATE emp SET is_push=#{is_push} WHERE empid=#{empid}
    </update>
</mapper>