<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liangxunwang.unimanager.dao.PhotosDao">
    <resultMap id="photos" type="com.liangxunwang.unimanager.model.HappyHandPhoto">
        <id column="photoid" property="photoid"/>
        <result column="empid" property="empid"/>
        <result column="title" property="title"/>
        <result column="photos" property="photos"/>
        <result column="dateline" property="dateline"/>

        <result column="nickname" property="nickname"/>
    </resultMap>

    <select id="lists" resultMap="photos">
         SELECT sn.*,lemp.nickname as nickname
        from happy_hand_photo sn
        LEFT JOIN emp lemp ON lemp.empid=sn.empid
        WHERE 1=1
        <if test="empid != null and empid != ''">
            AND sn.empid = #{empid}
        </if>
        <if test="nickname != null and nickname != ''">
            AND lemp.nickname like CONCAT('%',#{nickname},'%')
        </if>
           limit #{index},#{size}
    </select>

    <select id="count" resultType="Long">
        SELECT count(sn.photoid) FROM happy_hand_photo sn
        WHERE 1=1
        <if test="empid != null and empid != ''">
            AND sn.empid = #{empid}
        </if>
    </select>

    <insert id="save" parameterType="com.liangxunwang.unimanager.model.HappyHandPhoto">
        INSERT INTO happy_hand_photo(photoid, empid, title, photos, dateline)
        VALUES (#{photoid}, #{empid}, #{title ,jdbcType=VARCHAR}, #{photos}, #{dateline})
    </insert>

    <delete id="delete" parameterType="String">
        DELETE FROM happy_hand_photo where photoid = #{photoid}
    </delete>

    <select id="findById" parameterType="String" resultMap="photos">
        SELECT * FROM happy_hand_photo where photoid=#{photoid}
    </select>

    <update id="update" parameterType="String">
        UPDATE happy_hand_photo SET title=#{title, jdbcType=VARCHAR},photos=#{photos} WHERE photoid=#{photoid}
    </update>

    <select id="findByEmpid" resultMap="photos">
        SELECT sn.*,lemp.nickname as nickname
        from happy_hand_photo sn
        LEFT JOIN emp lemp ON lemp.empid=sn.empid
        WHERE 1=1
        <if test="empid != null and empid != ''">
            AND sn.empid = #{empid}
        </if>
    </select>

    <select id="listsAll" resultMap="photos">
        SELECT sn.*,lemp.nickname as nickname
        from happy_hand_photo sn
        LEFT JOIN emp lemp ON lemp.empid=sn.empid
        WHERE 1=1
        <if test="empid != null and empid != ''">
            AND sn.empid = #{empid}
        </if>
    </select>

</mapper>