<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liangxunwang.unimanager.dao.ReportDao">
    <resultMap id="report" type="com.liangxunwang.unimanager.model.Report">
        <id column="reportid" property="reportid"/>
        <result column="empid" property="empid"/>
        <result column="nickname" property="nickname"/>
        <result column="content" property="content"/>
        <result column="dateline" property="dateline"/>
        <result column="is_read" property="is_read"/>

        <result column="nicknameJbr" property="nicknameJbr"/>
    </resultMap>

    <select id="lists" resultMap="report">
         SELECT sn.*,lemp.nickname as nicknameJbr from report sn
          LEFT JOIN emp lemp ON sn.empid=lemp.empid
        WHERE 1=1
        <if test="is_read != null and is_read != ''">
            AND sn.is_read = #{is_read}
        </if>
          limit #{index},#{size}
    </select>

    <select id="count" resultType="Long">
        SELECT count(sn.reportid) FROM report sn
    </select>

    <insert id="save" parameterType="com.liangxunwang.unimanager.model.Report">
        INSERT INTO report(reportid, empid, nickname, dateline, content, is_read)
        VALUES (#{reportid}, #{empid}, #{nickname}, #{dateline}, #{content}, #{is_read})
    </insert>


    <delete id="delete" parameterType="String">
        DELETE FROM report where reportid = #{reportid}
    </delete>

    <select id="findById" parameterType="String" resultMap="report">
       SELECT sn.*,lemp.nickname as nicknameJbr from report sn
          LEFT JOIN emp lemp ON sn.empid=lemp.empid
           where sn.reportid=#{reportid}
    </select>

    <update id="update" parameterType="com.liangxunwang.unimanager.model.Report">
        UPDATE report SET is_read=#{is_read} WHERE reportid=#{reportid}
    </update>

</mapper>